
@media screen and (max-width: 480px) {
    .wrap-articles {
        &__col {
            flex-basis: 100%;
            max-width: inherit;
        }
    }

    //Fooetr
    .footer {
        &__col {
            flex-basis: 100%;
        }
    }
    .socials, .copyright {justify-content: center;}

}
