.container {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
    flex-flow: row wrap;
}

.flex {flex: 1 1 100%;}

.lh {line-height: 150%;}

.btn-more {
    font-size: 14px;
    color: $light-red;
    font-family: 'Montserrat';
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    width: 64px;
    max-width: 64px;
    min-width: 64px;
    opacity: 1;
    &:hover {
        i {
            margin-right: -10px;
            opacity: 0;
            transition: all .4s linear;
        }
    }
}

.title-text {
    font-weight: bold;
    font-family: 'Montserrat';
    color: $dark-blue;
    text-transform: uppercase;
}

.desc-text {
    font-size: 15px;
    color: $gray;
    @extend .lh;
}

.dot {
    &:after {
        content: '.';
        color: $light-red;
        margin-left: 2px;
    }
}
