@import "reset";
@import "variables";
@import "static";

body {
    font-family: 'Open Sans', serif;
}

.top {
    height: 100vh;
    background: url(../../images/main-background.png) no-repeat left top 0/cover fixed #fff;
    @extend .display-flex;
    &__col {
        @extend .flex;
    }
}

.header {
    @extend .display-flex, .container;
    height: 0;
    &__col {
        @extend .flex;
        height: 70px;
        flex-basis: 80%;
        &--first {
            flex-basis: 10%;
        }
    }
}

.menu {
    @extend .display-flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat';
    &__item {
        font-size: 14px;
        color: $menu-color;
        margin-left: 30px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            display: block;
        	position: absolute;
        	background: rgba(255, 255, 255, 0.4);
        	width: 60px;
        	height: 100%;
        	left: 0;
        	top: 0;
        	opacity: .9;
        	filter: blur(10px);
        	transform: translate(-100px) skewX(-35deg);
        }
        &:not(&--icon):hover {
            color: $light-red;
            transition: color .4s ease-in;
            &:after {
                transform: translateX(300px) skewX(-15deg);
            	opacity: 0.6;
            	transition: 1.4s;
            }
        }
        &--icon {
            margin-left: 20px;
            color: $light-red;
            font-size: 16px;
            align-self: center;
            transform: rotate(0);
            transition: .7s;
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}

.slogan {
    @extend .container, .flex;
    &__title {
        @extend .title-text;
        font-size: 48px;
        max-width: 400px;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 20px;
        color: #314a5b;
    }
    &__btn {
        display: block;
        background: $light-red;
        color: #fff;
        width: 170px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        margin-top: 40px;
        border: 1px solid $light-red;
        box-sizing: border-box;
        transition: all .5s;
        &:hover {
            color: $light-red;
            background: transparent;
        }
    }
}

// CONTANT
.wrap-contant {
    @extend .container;
}

.wrap-articles {
    margin: 50px 0 30px;
    @extend .display-flex;
    justify-content: space-between;
    &__col {
        @extend .flex;
        flex-basis: 28%;
    }
}

.article {
    max-width: 260px;
    @extend .display-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 30px 10px 0;
    &__title {
        @extend .title-text, .dot;
        font-size: 26px;
        color: #465065;
    }
    &__text {
        @extend .desc-text;
        margin: 26px 0 28px;
    }
    &__btn {
        @extend .display-flex, .btn-more;
    }
}

// PORFOLIO
.wrap-portfolio {
    margin: 50px 0 30px;
    @extend .display-flex;
    justify-content: space-between;
    &__col {
        @extend .flex;
        flex-basis: 46%;
    }
}

.portfolio-demonstration {
    margin-right: 30px;
    &__img {
        width: 100%;
    }
}

.portfolio-info {
    &__title {
        @extend .title-text, .dot;
        font-size: 40px;
        margin-bottom: 0;
        &--other {
            font-size: 16px;
            font-family: 'Open Sans';
            text-transform: none;
            margin-bottom: 15px;
            &:after {content: '';}
        }
    }
    &__text {
        @extend .desc-text;
        margin-bottom: 30px;
    }
    &__btn {
        @extend .display-flex, .btn-more;
    }
}

//OUR TEAM
.wrap-team {
    @extend .display-flex;
    flex-direction: column;
    margin: 50px 0 30px;
    &__title {
        @extend .title-text, .dot;
        font-size: 32px;
        margin-bottom: 5px;
    }
    &__text {
        @extend .desc-text;
        font-size: 14px;
    }
    &__btn {
        @extend .display-flex, .btn-more;
        align-self: flex-end;
    }
}

.our-team {
    margin: 35px 0 35px;
    @extend .display-flex;
    // justify-content: space-between;
    &__col {
        @extend .flex;
        flex-basis: 30%;
    }
}

.team-member {
    @extend .display-flex;
    margin: 0 25px 50px 0;
    &__col {
        @extend .flex;
        flex-basis: 45%;
    }
}

.team-avatar {
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.team-info {
    max-width: 160px;
    @extend .display-flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10px;
    &__name {
        @extend .title-text;
        font-size: 22px;
    }
    &__position {
        color: $light-red;
        margin: 10px 0;
    }
    &__text {
        @extend .desc-text;
    }
}


//FOOTER --> BEgin ////------------
.wrap-footer {
    @extend .container;
}

.footer {
    @extend .display-flex;
    height: 90px;
    border-top: 1px solid #e6eaed;
    &__col {
        @extend .flex;
        align-items: center;
        flex-basis: 50%;
        height: 100%;
    }
}

.socials {
    @extend .display-flex;
    &__link {
        margin-right: 20px;
        font-size: 18px;
        color: $footer-color;
        transition: color .4s ease-out;
        &--twit {
            font-size: 22px;
        }
        &:hover {
            color: $light-red;
        }
    }
}

.copyright {
    @extend .display-flex;
    justify-content: flex-end;
    &__text {
        line-height: 150%;
        color: $footer-color;
        font-size: 13px;
    }
}

@import "media"
