@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&subset=cyrillic-ext,latin-ext");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?6qfnum");
  src: url("../fonts/icons/icomoon.eot?6qfnum#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?6qfnum") format("truetype"), url("../fonts/icons/icomoon.woff?6qfnum") format("woff"), url("../fonts/icons/icomoon.svg?6qfnum#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-facebook-f:before {
  content: "\f09a"; }

.icon-instagram:before {
  content: "\e901"; }

.icon-google-plus:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\ea3c"; }
