body, html {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

article, section, nav, menu, main {
  display: block; }

.container, .header, .slogan, .wrap-contant, .wrap-footer {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

.display-flex, .top, .header, .menu, .wrap-articles, .article, .article__btn, .wrap-portfolio, .portfolio-info__btn, .wrap-team, .wrap-team__btn, .our-team, .team-member, .team-info, .footer, .socials, .copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.flex, .top__col, .header__col, .slogan, .wrap-articles__col, .wrap-portfolio__col, .our-team__col, .team-member__col, .footer__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.lh, .desc-text, .article__text, .portfolio-info__text, .wrap-team__text, .team-info__text {
  line-height: 150%; }

.btn-more, .article__btn, .portfolio-info__btn, .wrap-team__btn {
  font-size: 14px;
  color: #fa5c65;
  font-family: 'Montserrat';
  text-transform: uppercase;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 64px;
  max-width: 64px;
  min-width: 64px;
  opacity: 1; }
  .btn-more:hover i, .article__btn:hover i, .portfolio-info__btn:hover i, .wrap-team__btn:hover i {
    margin-right: -10px;
    opacity: 0;
    -webkit-transition: all .4s linear;
    transition: all .4s linear; }

.title-text, .slogan__title, .article__title, .portfolio-info__title, .wrap-team__title, .team-info__name {
  font-weight: bold;
  font-family: 'Montserrat';
  color: #314a5b;
  text-transform: uppercase; }

.desc-text, .article__text, .portfolio-info__text, .wrap-team__text, .team-info__text {
  font-size: 15px;
  color: #9aa0ab; }

.dot:after, .article__title:after, .portfolio-info__title:after, .wrap-team__title:after {
  content: '.';
  color: #fa5c65;
  margin-left: 2px; }

body {
  font-family: 'Open Sans', serif; }

.top {
  height: 100vh;
  background: url(../../images/main-background.png) no-repeat left top 0/cover fixed #fff; }

.header {
  height: 0; }
  .header__col {
    height: 70px;
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%; }
    .header__col--first {
      -webkit-flex-basis: 10%;
          -ms-flex-preferred-size: 10%;
              flex-basis: 10%; }

.menu {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat'; }
  .menu__item {
    font-size: 14px;
    color: #263742;
    margin-left: 30px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden; }
    .menu__item:after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .9;
      -webkit-filter: blur(10px);
              filter: blur(10px);
      -webkit-transform: translate(-100px) skewX(-35deg);
          -ms-transform: translate(-100px) skewX(-35deg);
              transform: translate(-100px) skewX(-35deg); }
    .menu__item:not(.menu__item--icon):hover {
      color: #fa5c65;
      -webkit-transition: color .4s ease-in;
      transition: color .4s ease-in; }
      .menu__item:not(.menu__item--icon):hover:after {
        -webkit-transform: translateX(300px) skewX(-15deg);
            -ms-transform: translateX(300px) skewX(-15deg);
                transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        -webkit-transition: 1.4s;
        transition: 1.4s; }
    .menu__item--icon {
      margin-left: 20px;
      color: #fa5c65;
      font-size: 16px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: .7s;
      transition: .7s; }
      .menu__item--icon:hover {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }

.slogan__title {
  font-size: 48px;
  max-width: 400px;
  margin-bottom: 10px; }

.slogan__text {
  font-size: 20px;
  color: #314a5b; }

.slogan__btn {
  display: block;
  background: #fa5c65;
  color: #fff;
  width: 170px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 40px;
  border: 1px solid #fa5c65;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .slogan__btn:hover {
    color: #fa5c65;
    background: transparent; }

.wrap-articles {
  margin: 50px 0 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .wrap-articles__col {
    -webkit-flex-basis: 28%;
        -ms-flex-preferred-size: 28%;
            flex-basis: 28%; }

.article {
  max-width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 30px 10px 0; }
  .article__title {
    font-size: 26px;
    color: #465065; }
  .article__text {
    margin: 26px 0 28px; }

.wrap-portfolio {
  margin: 50px 0 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .wrap-portfolio__col {
    -webkit-flex-basis: 46%;
        -ms-flex-preferred-size: 46%;
            flex-basis: 46%; }

.portfolio-demonstration {
  margin-right: 30px; }
  .portfolio-demonstration__img {
    width: 100%; }

.portfolio-info__title {
  font-size: 40px;
  margin-bottom: 0; }
  .portfolio-info__title--other {
    font-size: 16px;
    font-family: 'Open Sans';
    text-transform: none;
    margin-bottom: 15px; }
    .portfolio-info__title--other:after {
      content: ''; }

.portfolio-info__text {
  margin-bottom: 30px; }

.wrap-team {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 30px; }
  .wrap-team__title {
    font-size: 32px;
    margin-bottom: 5px; }
  .wrap-team__text {
    font-size: 14px; }
  .wrap-team__btn {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }

.our-team {
  margin: 35px 0 35px; }
  .our-team__col {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }

.team-member {
  margin: 0 25px 50px 0; }
  .team-member__col {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%; }

.team-avatar {
  height: 120px;
  min-width: 120px;
  max-width: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px; }

.team-info {
  max-width: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  margin-top: 10px; }
  .team-info__name {
    font-size: 22px; }
  .team-info__position {
    color: #fa5c65;
    margin: 10px 0; }

.footer {
  height: 90px;
  border-top: 1px solid #e6eaed; }
  .footer__col {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    height: 100%; }

.socials__link {
  margin-right: 20px;
  font-size: 18px;
  color: #b9c0c6;
  -webkit-transition: color .4s ease-out;
  transition: color .4s ease-out; }
  .socials__link--twit {
    font-size: 22px; }
  .socials__link:hover {
    color: #fa5c65; }

.copyright {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .copyright__text {
    line-height: 150%;
    color: #b9c0c6;
    font-size: 13px; }

@media screen and (max-width: 480px) {
  .wrap-articles__col {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: inherit; }
  .footer__col {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .socials, .copyright {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
